<%= form_with model: blog, local:true do |f| %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :tag_list %>
  <%= f.text_field :tag_list, value: blog.tag_list.join(","), placeholder: "hoge" %>
  <%= f.label :content %>
  <%= f.rich_text_area :content %>
  <div class="images">
    <%= f.label :画像 %>
    <%= f.file_field :image, accept: "image/png, image/jpeg, image/gif"%>
  </div>
    <%= f.select :status, Blog.statuses.keys.map { |k| [t("enums.blog.status.#{k}"),k]} %>  <%#% 開設できるように %>
  <%= f.submit %>
</div>
<% end %>