  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% @blogs.each do |blog| %>
        <div class="post-preview">
          <%= link_to blog_path(blog.id) do %>
            <h2 class="post-title">
              <%= image_tag blog.image.variant(resize_to_limit:[100,100]).processed, class:'img-fluid' if blog.image.attached? %>
              <%= blog.title %>
            </h2>
          <% end %>
            <h3 class="post-subtitle">
              <%= strip_tags(blog.content.to_s).gsub(/[\n]/,"").strip .truncate(20) %>
            </h3>
          </a>
          <a>関連項目</a><%= blog.tag_list %>
          <p class="post-meta">Posted by
            </p>
            <%= blog.created_at %></p>
        </div>
        <hr>
        <% end %>
      </div>
          <%= render "layouts/sidebar" %>

    </div>
  </div>
  <div class="clearfix">
    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
  </div>